.TripTools {
  width: 100%;
  background-color: #3E3C41;
}

.TripTools__section {
  padding: 30px 20px 30px 29px;
}

.TripTools__section:nth-child(n + 2) {
  border-top: 1px solid #E5E5E5; 
}

.TripTools__section .dateInput {
  margin-left: 0;
}

.dateInput {
  margin-bottom: 24px;
}

.TripTools__item {
  display: flex;
  align-items: center;
}

.TripTools__item:nth-child(n + 2) {
  margin-top: 35px;
}

.TripTools__itemPic {
  width: 22px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.compartmentСoach {
  background-image: url('../../img/tripTools/compartmentWagon.png');
}

.reservedСoach {
  background-image: url('../../img/tripTools/reservedWagon.png');
}

.sittingСoach {
  background-image: url('../../img/tripTools/sittingWagon.png');
}

.luxСoach {
  background-image: url('../../img/tripTools/luxWagon.png');
}

.wifiСoach {
  background-image: url('../../img/tripTools/wifiWagon.png');
}

.express {
  background-image: url('../../img/tripTools/express.png');
}

.TripTools__itemDiscripton {
  color: #FFFFFF;
  font-size: 0.75em;
  margin-left: 35px;
}

.TripTools__itemSwitchTrue, 
.TripTools__itemSwitchFalse {
  width: 3em;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.TripTools__itemSwitchTrue {
  background-image: url('../../img/tripTools/off.png');
}

.TripTools__itemSwitchFalse {
  background-image: url('../../img/tripTools/on.png')
}

.fromToTitle {
  display: flex;
  justify-content: space-between;
}

.fromToTitle_text {
  font-size: 0.75em;
  line-height: 0.875em;
  color: #FFFFFF;
}

div.input-range {
  margin-bottom: 32px;
}

div.input-range__track {
  height: 19px;
  background: #3E3C41;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
}

div.input-range__track--active {
  background: #FFA800;
  border: none;
}

div.input-range__slider {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: none;
  margin-top: -22px;
}

span.input-range__label {
  top: 30px;
  font-size: 16px;
  color: #E5E5E5; 
}

span.input-range__label-container {
  width: auto;
  background-color:  #3E3C41;
  z-index: 99;
}

span.input-range__label--max {
  right: 1.5px;
} 

span.input-range__label--min {
  left: 1.5px;
} 

span.input-range__label--value {
  top: 5px;
  font-size: 16px;
  color: #E5E5E5;
  z-index: 99;
}

.TripTools__sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.TripTools__sectionHeaderBox {
  display: flex;
  align-items: center;
}

.TripTools__sectionHeaderPicThere, 
.TripTools__sectionHeaderPicBack, 
.TripTools__sectionHeaderPicPassenger {
  width: 36px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 12px;
}

.TripTools__sectionHeaderPicPassenger {
  background-image: url('../../img/passenger.png');
}

.TripTools__sectionHeaderPicThere {
  background-image: url('../../img/tripTools/there.png');
}

.TripTools__sectionHeaderPicBack {
  background-image: url('../../img/tripTools/back.png');
}

.TripTools__sectionHeaderToggle {
  width: 20px;
  height: 20px;
  margin-left: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.closed {
  background-image: url('../../img/tripTools/closed.png');
}

.closed:hover, .opened:hover {
  background-image: url('../../img/tripTools/closedHover.png');
}

.opened {
  background-image: url('../../img/tripTools/opened.png');
}

.TripTools__sectionHeaderText {
  font-weight: 700;
  font-size: 1.25em;
  color: #FFFFFF;
}

.TripTools__timeDiscription {
  display: block;
  font-weight: 400;
  color: #E5E5E5;
  margin-bottom: 15px;
}

.TripTools__timeDiscriptionBack {
  margin-top: 45px;
  text-align: right;
}

.TripTools__time, 
.TripTools__cost {
  width: 100%;
}
